.expo {
  width: 100%;
  height: 676px;
  position: relative;
  .cubic {
    position: absolute;
    left: 250px;
    top: -20px;
    z-index: 6;
  }
  .expo__box {
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #eff1fd;
    .expo__cards {
      position: relative;
      right: 120px;
      height: 480px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .card-expo {
        width: 259px;
        height: 222px;
        background: #ffffff;
        border-radius: 15px;
        text-align: center;
        img {
          margin-top: 50px;
          width: 45px;
          height: 45px;
        }
        h1 {
          margin-top: 30px;
          font-family: "Poppins";
          font-weight: 600;
          font-size: 20px;
          line-height: 120%;
          color: #263959;
        }
        p {
          margin-top: 10px;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: rgba(38, 57, 89, 0.65);
        }
      }
      .intro {
        text-align: left;
        position: relative;
        right: 100px;
        background-color: transparent;

        .intro-title {
          margin-top: 10px;
          width: 332px;
          height: 99px;
          font-family: "Montserrat";
          font-weight: 700;
          font-size: 48px;
          line-height: 120%;
          color: #263959;
        }
        p {
          flex-wrap: nowrap;
          margin-top: 30px;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 16px;
          line-height: 145%;
          color: rgba(38, 57, 89, 0.65);
          width: 320px;
          height: 63px;
        }
      }
      .exit {
        background-color: #263959;
        h1 {
          width: 75%;
          margin: 0 auto;
          padding-top: 50px;
          font-family: "Poppins";
          font-weight: 500;
          font-size: 20px;
          line-height: 120%;
          color: #ffffff;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .expo {
    height: 355px;
    align-items: center;
    .cubic {
      width: 132px;
      height: 45px;
      left: 100px;
    }
    .expo__box {
      .expo__cards {
        height: 275px;
        right: 70px;
        .card-expo {
          width: 150px;
          height: 130px;
          img {
            margin-top: 30px;
            width: 27px;
            height: 27px;
          }
          h1 {
            margin-top: 17px;
            font-weight: 600;
            font-size: 12px;
          }
          p {
            font-weight: 400;
            font-size: 10px;
          }
        }
        .intro {
          right: 50px;
          .intro-title {
            width: 199px;
            height: 68px;
            font-weight: 700;
            font-size: 28px;
          }
          p {
            font-weight: 400;
            font-size: 10px;
            width: 176px;
            height: 45px;
            margin-top: 0;
          }
        }
        .exit {
          h1 {
            padding-top: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .expo {
    height: 760px;
    .cubic {
      width: 100px;
      height: 35px;
      left: 20px;
    }
    .expo__box {
      width: 100%;
      .expo__cards {
        width: 90%;
        margin: 0 auto;
        height: 80%;
        right: 0;
        top: 70px;
        .intro {
          position: absolute;
          top: -140px;
          text-align: center;
          left: 20%;
        }
      }
    }
  }
}
