.feature {
  width: 80%;
  margin: 0 auto;
  height: 920px;
  display: flex;
  justify-content: space-between;
  position: relative;
  .feature__imgbox {
    order: 2;
    width: 45%;
    height: 67%;
    display: flex;
    top: 150px;
    position: absolute;
    justify-content: center;
    img {
      height: 90%;
    }
  }
  .feature__infobox {
    order: 1;
    width: 52%;
    height: 100%;
    position: absolute;
    right: 0;
    h1 {
      margin-top: 190px;
      width: 505px;
      height: 162px;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      color: #263959;
    }
    .info__cards {
      margin-top: 35px;
      display: flex;
      flex-wrap: wrap;
      .card {
        margin-bottom: 33px;
        margin-right: 33px;
        width: 260px;
        height: 110px;
        h2 {
          font-family: "Poppins";
          font-weight: 500;
          font-size: 24px;
          line-height: 120%;
        }
        p {
          margin-top: 15px;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 16px;
          line-height: 145%;
          color: rgba(38, 57, 89, 0.65);
        }
      }
      .linebox {
        position: relative;
        right: -308px;
        top: -273px;
        img {
          max-width: 255px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .feature {
    width: 90%;
    height: 500px;
    .feature__imgbox {
      width: 45%;
      height: 67%;
      display: flex;
      top: 53px;
      position: absolute;
      justify-content: center;
      img {
        height: 100%;
      }
    }
    .feature__infobox {
      top: -100px;
      .info__cards {
        width: 100%;
        margin-top: -40px;
        .card {
          width: 137px;
          height: 62.69px;
          h2 {
            font-weight: 500;
            font-size: 14px;
          }
          p {
            margin-top: 5px;
            font-weight: 400;
            font-size: 10px;
            line-height: 145%;
          }
        }
        .linebox {
          position: relative;
          right: -143px;
          top: -149px;
          img {
            width: 150px;
          }
        }
      }
      h1 {
        font-size: 28px;
        line-height: 120%;
        width: 328.05px;
      }
    }
  }
}

@media (max-width: 375px) {
  .feature {
    width: 100%;
    flex-direction: column-reverse;
    margin-top: 170px;
    background-color: red;
    .feature__imgbox {
      height: 100%;
      width: 100%;
      position: relative;
      img {
        height: 70%;
        position: absolute;
        bottom: 50px;
      }
    }
    .feature__infobox {
      width: 100%;
      height: 50%;
      h1 {
        margin-top: 0px;
        width: 272px;
        height: 102px;
        font-size: 28px;
        margin-left: 20px;
      }
      .info__cards {
        margin-top: 20px;
        justify-content: space-evenly;
        .card {
          width: 157px;
          margin-right: 0;
          margin-bottom: 10px;
          height: 62.69px;
        }
        .linebox {
          position: relative;
          right: -62px;
          top: 184px;
          img {
            width: 180px;
          }
        }
      }
    }
  }
}
