.hire {
  width: 100%;
  height: 682px;
  background: #263959;
  position: relative;
  overflow: hidden;
  section {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    .hilineImg {
      position: absolute;
      z-index: 1;
    }
    .devsbox {
      z-index: 2;
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .imgbox__crcle {
        width: 31rem;
        height: 31rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        .dev {
          width: 10.4rem;
          height: 9.75rem;
          position: absolute;
          overflow: hidden;
          .dev-imgbox {
            width: 100%;
            height: 5rem;
            img {
              width: 4.5rem;
              height: 4.4rem;
            }
          }
          .infobox-dev {
            width: 100%;
            height: 4.62rem;
            position: relative;
            span {
              position: absolute;
              top: 0;
              left: 20px;
              background-color: white;
              display: inline-block;
              width: 2rem;
              height: 1.3rem;
              clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            }
            .text__dev {
              background-color: white;
              position: absolute;
              bottom: 0;
              height: 3.62rem;
              width: 100%;
              border-radius: 7px;
              padding-left: 1rem;
              h5 {
                margin: 0.65rem 0;
                font-family: "Montserrat";
                font-weight: 700;
                font-size: 0.75rem;
                line-height: 120%;
                color: #263959;
              }
              .text-rate {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                  font-family: "Poppins";
                  font-weight: 400;
                  font-size: 10px;
                  line-height: 120%;
                  color: rgba(38, 57, 89, 0.65);
                }
                .rate-box {
                  width: 2.5rem;
                  margin-right: 0.5rem;
                  display: flex;
                  align-items: center;
                  justify-content: space-evenly;
                  img {
                    width: 0.75rem;
                    height: 0.75rem;
                  }
                }
              }
            }
          }
        }

        .one {
          left: -2.5rem;
          top: 40%;
        }
        .two {
          top: 0;
          left: 40%;
        }
        .three {
          right: -6.25rem;
          top: 40%;
        }
        .four {
          position: absolute;
          left: 40%;
          bottom: 0;
        }
      }
    }
    .devs__infobox {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        width: 27rem;
        height: 6.25rem;
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 3rem;
        line-height: 120%;
        color: #ffffff;
      }
      p {
        width: 25.7rem;
        height: 3.7rem;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 1rem;
        line-height: 145%;
        color: rgba(255, 255, 255, 0.65);
        margin-top: 2rem;
      }
      button {
        width: 12.6rem;
        height: 4rem;
        margin-top: 3.5rem;
        background: #3ee8b5;
        border-radius: 7px;
        border: none;
        outline: none;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 1rem;
        line-height: 120%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #263959;
      }
    }
  }
}

@media (max-width: 768px) {
  .hire {
    max-width: 768px;
    height: 365px;
    section {
      width: 100%;
      .hilineImg {
        width: 68%;
      }
      .devs__infobox {
        width: 55%;
      }
      .devs__infobox {
        width: 45%;
      }
    }
  }
}

@media (max-width: 375px) {
  .hire {
    height: 566px;
    section {
      width: 100%;
      flex-direction: column-reverse;
      .hilineImg {
        width: 65%;
      }

      .devsbox {
        width: 100%;
        .imgbox__crcle {
          .dev {
            width: 9rem;
          }
          .three {
            right: -4rem;
          }
        }
      }
      .devs__infobox {
        height: 60%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        p {
          width: 30rem;
        }
      }
    }
  }
}
